[page-dua-content]{
	--background: url("../../../assets/images/background/bg-03.png") no-repeat center center / cover;
}

	ion-card {
		--background: #fff;
		opacity:0.8;
	}

.item{
 padding-top:4px;
  padding-bottom:4px;
}
