[page-rogam-content]{
}

ion-card-header{ 
  text-align: center;
  font-size: 16px; 
  font-style: bold;
  margin: 4px;
}
ion-card-content{
  padding: 6px;
}

.underline{
  border-bottom: 1px solid #C0C0C0;
}

.arabic{
  text-align: right;
}
